# 依赖
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 环境变量
.env
.env.local
.env.*.local

# 构建输出
dist/
build/

# 编辑器
.vscode/*
!.vscode/extensions.json
.idea/
*.swp
*.swo
*~

# 系统文件
.DS_Store
Thumbs.db

# 上传文件
storage/uploads/*
storage/videos/*
storage/covers/*
!storage/uploads/.gitkeep
!storage/videos/.gitkeep
!storage/covers/.gitkeep

# 数据库
storage/database.db
